@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-gray);
  height: 100vh;
  position: relative;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --gray-blue: hsl(218, 22%, 67%);
}

main {
  max-width: 650px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

main > div {
  padding: 2em;
}

.community {
  width: 100%;
}

.community > p {
  padding-top: 0.5em;
}

.subscription, .whyus {
  flex: 1;
  color: white;
}

.subscription {
  background-color: var(--cyan);
}

.subscription div p {
  color: hsla(204, 43%, 93%, 0.5);
}

.subscription span {
  font-size: 24px;
  color: var(--light-gray);
  padding-right: .4em;
}

.subscription p {
  color: var(--light-gray);
}

.subscription div:first-of-type {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
}

.whyus {
  background-color: rgb(106, 188, 188);
}

.whyus p {
  color: var(--light-gray);
  font-size: 14px;
}

.button {
  width: 100%;
  text-align: center;
  background-color: var(--yellow);
  padding: 0.75em;
  border-radius: 0.25em;
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
  color: var(--cyan);
  font-size: 26px;
  padding-bottom: 0.75em;
}

h2 {
  font-size: 18px;
  color: white;
  padding-bottom: 1em;
}

span {
  color: var(--yellow);
}

p {
  color: var(--gray-blue);
}

@media screen and (max-width:600px) {

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    padding: 2em;
  }

  main {
    position: inherit;
    transform: none;
    flex-direction: column;
  }

  main > div {
    padding: 1.5em;
    padding-block: 2em;
  }

  h1 {
    font-size: 22px;
  }

  .community p {
    padding-top: 1em;
    line-height: 1.5em;
  }
  
}
